

.line-break::before {
	content: "\A";
	white-space: pre;
	display: block;
}

body
{
	background-color: rgb(255, 255, 255);
	color: black;

	font-family: "helvetica";
	font-size: larger;

	text-align: left;
	margin-left: 24vw;
	margin-right: 24vw;
	margin-top: 3em;
	margin-bottom: 6em;
}

// code.inline
// {
// 	-webkit-user-select: all;
// 	user-select: all;
// 	display: inline-block;
// 	padding: 5px;
// 	border-radius: 10px;
// 	font-family: "Consolas";
// 	color: rgb(0, 0, 0);
// 	border: 1px solid rgb(200, 200, 200);
// 	background-color: rgb(240, 240, 240);
// 	text-align: left;
// 	overflow: auto;
// 	vertical-align: bottom;
// }

// code
// {
// 	display: inline-block;
// 	padding: 5px;
// 	border-radius: 10px;
// 	font-family: "Consolas";
// 	color: rgb(0, 0, 0);
// 	border: 1px solid rgb(200, 200, 200);
// 	background-color: rgb(240, 240, 240);
// 	text-align: left;
// 	overflow: auto;
// 	width: 50vw;
// }

// code span
// {
// 	white-space: pre;
// 	display: block;
// }
  
// code:focus
// {
// 	border: 2px dashed #31808c;
// 	outline: none;
// 	animation: select 100ms step-end forwards;
// }

// code.inline
// {
// 	display: inline-block;
// 	padding: 5px;
// 	border-radius: 10px;
// 	font-family: "Consolas";
// 	color: rgb(0, 0, 0);
// 	border: 1px solid rgb(200, 200, 200);
// 	background-color: rgb(240, 240, 240);
// 	text-align: left;
// 	height: auto;
// 	width: auto;
// }

pre 
{
	padding: 1rem;
	overflow: auto;
}
	/* The line numbers already provide some kind of left/right padding */
pre[data-linenos] 
{
	padding: 1rem 0;
}
pre table td 
{
	padding: 0;
}
	/* The line number cells */
pre table td:nth-of-type(1) 
{
	text-align: center;
	user-select: none;
}
pre mark 
{
	/* If you want your highlights to take the full width */
	display: block;
	/* The default background colour of a mark is bright yellow */
	background-color: rgba(254, 252, 232, 0.9);
}

pre table 
{
	width: 100%;
	border-collapse: collapse;
}

.title
{
	font-size: 32px;
	font-weight: bold;
	color: rgb(100, 70, 255);
	text-decoration: none;
	text-transform: uppercase;
}

.article-title
{
	font-size: 54px;
	font-weight: bold;
	text-align: center;
}

h2
{
	font-size: 24px;
}

hr.title
{
	border-top: 5px solid rgb(100, 70, 255);
}

hr.type1
{
	border-top: 3px solid rgb(100, 100, 100);
}

div.gallery
{
	display: inline-block;

	padding: 0.5em;
	margin: 1em;
	
	border: 3px solid rgb(255, 0, 170);
}

div.textbox
{
	display: block;

	padding: 0.5em;
	margin: 1em;
	
	border: 3px solid rgb(100, 100, 100);
	list-style: inside;
}

div.gallery img
{
	width: 256px;
	height: auto;
}

div.gallery img.thumbnail
{
	max-width: 256px;
	height: 128px;
	width: auto;
}

div.gallery img.banner
{
	max-width: 1024px;
	max-height: 256px;
	width: auto;
}

div.bannervw
{
	margin-bottom: 12px;
	display: run-in;
	overflow: hidden;
	position: relative;
	max-height: 200px;
	height: 200px;
	border: 3px solid rgb(200, 200, 200);
	background-color: rgb(20, 0, 70);
	background-repeat: repeat-y;
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;
}

ul.project
{
	// margin-top: 1em;
	// margin-left: 5em;
	// margin-left: 5em;
	margin: 1em;
	padding: 0;
}

div.pcontainter
{
	margin-bottom: 1em;
	padding: 4px 32px;
	display: run-in;
	overflow: hidden;
	position: relative;
	max-height: 300px;
	height: 300px;
	border: 3px solid rgb(200, 200, 200);
}

div.pcontainter-1
{
	display: flex;
	justify-content: space-between;
}

span.pcontent
{
	display: inline-block;
	vertical-align: top;
	padding-left: 16px;
}

img.background
{
	position: absolute;
	top: 0;
    left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 20%;
	background-color: white;
	z-index: -1;
}

img.iconp
{
	min-width: 400px;
	max-height: 200px;
	object-fit: cover;
	border: 1px dashed rgb(0, 0, 0);
}

div.captionedfigure
{
	text-align: center;
	display: block;
	padding-bottom: 3em;
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
}

div.captionedfigure span
{
	display: block;
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;
}

div.captionedfigure span.large
{
	display: block;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

div.figure
{
	display: flexbox;
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
}

div.figure img
{
	margin: 0 5px;
	padding-bottom: 1em;
	width: fit-content;
	max-width: 360px;
	max-height: 240px;
}

div.figure2
{
	display: flex;
	justify-content: center;
	align-items: center;
}

div.figure2 img
{
	margin: 0 5px;
	padding-bottom: 1em;
	max-width: 1024px;
	max-height: 1024px;
}

div.figure3
{
	display: block;
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
}

div.figure3 img
{
	margin: 0 5px;
	padding-bottom: 1em;
	max-height: 360px;
	max-width: 480px;
	object-fit: contain;
}

.mathfig
{
	font-family: "Computer Sans";
	font-size: 120%;
	display: inline-block;
	text-align: center;
}

div.mathfig
{
	display: grid;
	justify-content: center;
	padding-bottom: 1em;
	background-color: rgb(0, 229, 255);
}

div.mathfig p
{
	background-color: rgb(0, 255, 8);
}

div.mathfig hr
{
	min-width: 1em;
	border-bottom: 0.1em solid;
}

div.slideshow
{
	width: auto;
	height: auto;
	max-width: 70vw;
	position: relative;
	margin: 0 auto;
}

div.slider
{
	display: flex;
}

div.slider img {
	width: 100%;
	display: none;
}

div.slider img:first-child {
    display: block;
}

button.prev, button.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: rgba(255,255,255,0.5);
	background-color: rgba(255,255,255,0.3);
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

button.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

button.prev:hover, button.next:hover {
	background-color: rgba(0,0,0,0.8);
}

div.blog-ring {
	justify-content: center;
	display: flex;
}

table, td, th {
	border: 1px solid;
	padding: 10px;
}

table {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}